In [35]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer

In [36]:
path = "Practica_one.csv"
df = pd.read_csv(path)
df

,Nombre,Edad,Formación académica,Antigüedad,Resultado de evaluación
0,Alvarado Zepeda Diana,51.0,Ingeniería Industrial,16.0,3.625
1,Bonilla Sandoval Martín,65.0,Licenciatura en sociología,9.0,6.070
2,Bonilla Sánchez Daniel,28.0,Lic. en matemáticas,15.0,4.630
3,Bravo Cortéz Marcos,53.0,Ingeniería en Mecatrónica,11.0,6.525
4,Bravo Gomez Pedro,33.0,Ingeniería en Mecatrónica,11.0,7.990
...,...,...,...,...,...
70,Ávila López Carmen,68.0,Ing. en mecatrónica,6.0,NaN
71,Jiménez de Alba Enrique,58.0,NaN,NaN,5.755
72,Sánchez Pineda Ramón,36.0,NaN,15.0,4.680
73,Pérez Jiménez Francisco,64.0,Ingeniería en Mecatrónica,NaN,4.410
74,Pineda Zepeda Karen,55.0,Ingeniería civil,13.0,NaN

In [37]:
df.shape

(75, 5)

In [38]:
df.isna().sum()

Nombre                     0
Edad                       5
Formación académica        5
Antigüedad                 4
Resultado de evaluación    3
dtype: int64

In [39]:
df["Edad"].kurt()

-1.3068316092609022

In [40]:
df["Antigüedad"].kurt()

0.1289581810705296

In [41]:
df["Resultado de evaluación"].kurt()

0.893258600734125

In [42]:
df["Formación académica"].fillna(df["Formación académica"].mode()[0], inplace=True)
df.isna().sum()

C:\Users\esteb\AppData\Local\Temp\ipykernel_1292\1583093705.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Formación académica"].fillna(df["Formación académica"].mode()[0], inplace=True)

Nombre                     0
Edad                       5
Formación académica        0
Antigüedad                 4
Resultado de evaluación    3
dtype: int64

In [43]:
random_val = np.random.choice(df["Edad"].dropna(), size= 5)
random_val

array([36., 26., 54., 53., 60.])

In [44]:
nanEdad, = np.where(df["Edad"].isna())
nanEdad

array([61, 62, 64, 66, 67], dtype=int64)

In [45]:
df.loc[nanEdad, "Edad"] = random_val
df.isna().sum()

Nombre                     0
Edad                       0
Formación académica        0
Antigüedad                 4
Resultado de evaluación    3
dtype: int64

In [46]:
df.boxplot()

In [47]:
df["Antigüedad"].fillna(df["Antigüedad"].median(), inplace=True)
df.isna().sum()

C:\Users\esteb\AppData\Local\Temp\ipykernel_1292\329088421.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Antigüedad"].fillna(df["Antigüedad"].median(), inplace=True)

Nombre                     0
Edad                       0
Formación académica        0
Antigüedad                 0
Resultado de evaluación    3
dtype: int64

In [48]:
df["Resultado de evaluación"].fillna(df["Resultado de evaluación"].mean(), inplace=True)
df.isna().sum()

C:\Users\esteb\AppData\Local\Temp\ipykernel_1292\2049389781.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Resultado de evaluación"].fillna(df["Resultado de evaluación"].mean(), inplace=True)

Nombre                     0
Edad                       0
Formación académica        0
Antigüedad                 0
Resultado de evaluación    0
dtype: int64

In [49]:
tfidf = TfidfVectorizer()
formacion_tfidf = tfidf.fit_transform(df['Formación académica']).toarray()
formacion_tfidf_df = pd.DataFrame(formacion_tfidf, columns=tfidf.get_feature_names_out())
df = pd.concat([df, formacion_tfidf_df], axis=1)
df.drop(columns=['Formación académica'], inplace=True)
df

,Nombre,Edad,Antigüedad,Resultado de evaluación,administración,agronomía,civil,computación,comunicaciones,contaduría,...,ing,ingeniería,lic,licenciatura,matemáticas,mecatrónica,mecánica,psicología,sociología,topografía
0,Alvarado Zepeda Diana,51.0,16.0,3.625000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.628832,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
1,Bonilla Sandoval Martín,65.0,9.0,6.070000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.546169,0.000000,0.000000,0.0,0.0,0.788128,0.0
2,Bonilla Sánchez Daniel,28.0,15.0,4.630000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.558443,0.000000,0.780477,0.000000,0.0,0.0,0.000000,0.0
3,Bravo Cortéz Marcos,53.0,11.0,6.525000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.481888,0.000000,0.000000,0.000000,0.772436,0.0,0.0,0.000000,0.0
4,Bravo Gomez Pedro,33.0,11.0,7.990000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.481888,0.000000,0.000000,0.000000,0.772436,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Ávila López Carmen,68.0,6.0,5.484306,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.586067,0.000000,0.000000,0.000000,0.000000,0.714280,0.0,0.0,0.000000,0.0
71,Jiménez de Alba Enrique,58.0,16.0,5.755000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.628832,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
72,Sánchez Pineda Ramón,36.0,15.0,4.680000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.628832,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0
73,Pérez Jiménez Francisco,64.0,16.0,4.410000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.481888,0.000000,0.000000,0.000000,0.772436,0.0,0.0,0.000000,0.0
74,Pineda Zepeda Karen,55.0,13.0,5.484306,0.0,0.0,0.911888,0.0,0.0,0.0,...,0.000000,0.410439,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0